.toast {
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.toast-container[data-position$='-right'] .toast {
  transform: translateX(110%);
}

.toast-container[data-position$='-left'] .toast {
  transform: translateX(-110%);
}

.toast-container[data-position='top-center'] .toast {
  transform: translateY(-100vh);
}

.toast-container[data-position='bottom-center'] .toast {
  transform: translateY(100vh);
}

.toast-container .toast.show {
  transform: translate(0, 0);
}

.toast-content.progress::before {
  content: '';
  position: absolute;
  height: 2px;
  width: calc(100% * var(--progress));
  background-color: #d0d5dd;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
}

.toast-container {
  position: fixed;
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.toast-container[data-position^='top-'] {
  top: 0;
}

.toast-container[data-position^='bottom-'] {
  bottom: 0;
}

.toast-container[data-position$='-right'] {
  right: 0;
}

.toast-container[data-position$='-left'] {
  left: 0;
}

.toast-container[data-position$='-center'] {
  left: 50%;
  transform: translateX(-50%);
}
